-#TODO add pagination to this
.row
  .col-md-12
    %h3 Jobs
.row
  %table.table.table-striped
    %thead
      %tr
        %th.col-md-6 Title
        %th.col-md-2 Company
        %th.col-md-2 Posted By
        %th.col-md-2 Active Until
    %tbody
      - jobs.each do |job|
        %tr
          %td.col-md-6= link_to job.title, job
          %td.col-md-2= link_to job.company.name, job.company
          %td.col-md-2= job.author.email
          %td.col-md-2= job.end_date